.cart_page{
    padding: 20px 50px;

}
.cart_item{
     display: flex;
     justify-content: space-around;
     margin: 20px 0;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     align-items: center;
     padding: 20px;
}

.cart_item .buttons{
    display: flex;
}

.cart_item .buttons .quantity{
    padding: 0 20px;
    border: 1px solid #111;
    height: 50px;
    margin-top: 15px;
    line-height: 50px;
    font-size: 32px;
}

.cart_item .buttons button{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: rgb(188, 146, 40);
    font-size: 30px;
    color: whitesmoke;
    margin: 10px;
    transition: .4s ease-in;
    cursor: pointer;
}

.cart_item .buttons button:hover{
    background: transparent;
    border: 1px solid;
    color: #111;
}

.cart_item .rmv_btn{
    padding: 15px 20px;
    font-size: 15px;
    outline: none;
    border: none;
    background: #ffd814;
    /* width: 100%; */
    /* padding: 10px 0; */
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s ease-in;
}

.cart_item .rmv_btn:hover{
    border: 1px solid #111;
    color: #000;
    background: transparent;
}


/* checkout_area */

.checkout_area {
    text-align: center;
}

.checkout_area button{
    outline: none;
    border: none;
    background: #ffd814;
    font-size: 20px;
    width: 50%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s ease-in;
}

.checkout_area button:hover{
    border: 1px solid #111;
    color: #000;
    background: transparent;
}